@import '../../_variables.scss';

.form {
  &__overlay {
    z-index: 5;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &__body {
    margin: 40px auto;
    max-width: 400px;
    color: darkslategrey;
    background-color: white;
  }
  &__input {
    //
  }
}
