.toggle-switch-type-A {
  $toggle-type: &;
  display: inline-block;
  --switchSize: 1em;
  --switchWidthFactor: 2;
  --switchEdgeThickness: 0.1em;
  transform: translateY(0.3em);

  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ #{$toggle-type}__graphic::after {
      left: 100%;
      transform: translateX(-100%);
      background-color: white;
    }
    &:checked ~ #{$toggle-type}__graphic {
      background-color: rgba(255, 0, 0, 0);
      border: solid var(--switchEdgeThickness) white;
    }
  }

  &__graphic {
    display: inline-block;
    width: calc(var(--switchSize) * var(--switchWidthFactor));
    height: var(--switchSize);
    border-radius: calc(var(--switchSize) / 2 + var(--switchEdgeThickness) * 2);
    border: solid var(--switchEdgeThickness) white;
    padding: var(--switchEdgeThickness);
    transition: all 0.1s 0.05s;
    cursor: pointer;

    &::after {
      display: block;
      position: relative;
      content: '';
      left: 0%;
      background-color: rgb(255, 255, 255);
      width: var(--switchSize);
      height: var(--switchSize);
      border-radius: calc(var(--switchSize) / 2);
      transition: all 0.2s 0s;
    }

    &:active::after {
      width: calc(var(--switchSize) * 1.5);
    }
  }
}

/* --- Push to click on --- */
#toggle-switch-type-BContainer {
  --switchActiveColor: rgb(255, 189, 45);
  --switchInactiveColor: rgba(50, 50, 50, 0.5);
  --switchBaseColor: rgb(120, 120, 120);
  --switchButtonTopColor: rgb(100, 102, 189);
  --switchButtonSideColor: rgb(67, 44, 73);
  --switchHeight: 2em;
  --switchWidth: 2em;
  --switchTravel: 0.5em;
  --switchEdgeThickness: 0.1em;
  --switchLightThickness: 0.2em;
  --time: 0.1s;
  --textLabelScaleFactor: 1;
}
.toggle-switch-type-BToggle span {
  display: block;
  position: relative;
  background-color: var(--switchButtonSideColor);

  color: transparent;
  text-shadow: 0px 0px 1px var(--switchButtonSideColor);
  text-align: center;
  font-size: calc(100% * var(--textLabelScaleFactor));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  top: calc(
    var(--switchHeight) / var(--textLabelScaleFactor) / 2 - var(--switchTravel) /
      var(--textLabelScaleFactor)
  );
  transform: translateY(-50%);

  transition: var(--time);
  z-index: 3;
}

.toggle-switch-type-BToggle {
  display: block;
  position: relative;

  width: var(--switchWidth);
  height: var(--switchHeight);
  padding: var(--switchLightThickness);
  background-color: var(--switchInactiveColor);
  border: solid var(--switchEdgeThickness) var(--switchBaseColor);
  border-radius: var(--switchHeight);
  transition: all var(--time) 0s;
  cursor: pointer;
}
.toggle-switch-type-BToggle::before {
  /*top face of button*/
  display: block;
  position: absolute;
  content: '';
  background-color: var(--switchButtonTopColor);
  width: var(--switchWidth);
  height: var(--switchHeight);
  top: calc(
    var(--switchHeight) + var(--switchLightThickness) - var(--switchTravel)
  );
  border-radius: calc(var(--switchHeight) / 2);
  transform: translateY(-100%);
  z-index: 2;
  transition: var(--time);
}
.toggle-switch-type-BToggle::after {
  /*front edge of button*/
  display: block;
  position: absolute;
  content: '';
  background-color: var(--switchButtonSideColor);
  width: var(--switchWidth);
  height: calc(var(--switchHeight) + var(--switchTravel));
  top: calc(var(--switchHeight) + var(--switchLightThickness));
  border-radius: calc(var(--switchHeight) / 2);
  transform: translateY(-100%);

  transition: var(--time);
}

/* set active state */
.toggle-switch-type-BToggle:active::before {
  top: calc(var(--switchHeight) + var(--switchLightThickness));
  height: calc(var(--switchHeight) - 3px);
}
.toggle-switch-type-BToggle:active::after {
  top: calc(var(--switchHeight) + var(--switchLightThickness));
  height: var(--switchHeight);
  background-color: rgb(85, 85, 85);
}
.toggle-switch-type-BToggle:active span,
input:checked ~ .toggle-switch-type-BToggle:active span {
  top: calc(var(--switchHeight) / var(--textLabelScaleFactor) / 2 + 3px);
  transform: translateY(-50%);
}

/*set checked state*/
input:checked ~ .toggle-switch-type-BToggle::after {
  top: calc(var(--switchHeight) + var(--switchLightThickness));
  height: var(--switchHeight);
}
input:checked ~ .toggle-switch-type-BToggle::before {
  top: calc(var(--switchHeight) + var(--switchLightThickness));
}
input:checked ~ .toggle-switch-type-BToggle {
  background-color: var(--switchActiveColor);
  box-shadow: 0px 0px 10px var(--switchActiveColor);
}
input:checked ~ .toggle-switch-type-BToggle span {
  top: calc(var(--switchHeight) / var(--textLabelScaleFactor) / 2);
  transform: translateY(-50%);
}
/* End Switch 5  */
