@import '../../_variables.scss';

.keypad__button {
  margin: 5px;
  padding: 10px;
  height: 35px;
  border-radius: 5px;
  background-color: $button-color;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: $accessory-color;
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;

  &:hover {
    background-color: $button-accent-color;
  }

  &--active,
  &:active {
    background-color: $button-active-color;
  }
}
