@import '../../_variables.scss';

.keypad {
  display: inline-flex;
  flex-flow: row nowrap;
  vertical-align: top;
  justify-content: flex-end;
  width: 100%;

  @media (min-width: $mobile-break) {
    width: calc(100% - #{$side-panel-width});
  }
}
