/*
* app-wide css variables here
*/

$blank_color: rgb(255, 255, 255);
$sound-machine-color: rgb(73, 95, 65);
$button-color: rgb(37, 48, 49);
$button-accent-color: darken($button-color, 10);
$background-color: #acb6a8;
$active-color: #da4167;
$display-text-color: #f7f8f7;
//$accessory-color: #315659;

$mobile-break: 768px;
$side-panel-width: 300px;
