/*
* app-wide css variables here
*/

$blank_color: #ffffff;
$sound-machine-color: #677484;
$button-color: #2d3c4e;
$mobile-break: 768px;
$background-color: #c6cad1;
$active-color: rgb(218, 65, 103);
$display-text-color: rgb(237, 236, 150);
