/*
* app-wide css variables here
*/

$blank_color: #ffffff;
$sound-machine-color: #495f41;
$button-color: #253031;
$background-color: #acb6a8;
$active-color: #da4167;
$display-text-color: #f7f8f7;
//$slate-grey: #315659

$mobile-break: 768px;
$side-panel-width: 300px;
