@import '../../_variables.scss';

@import url(https://fonts.googleapis.com/css?family=VT323&display=swap);

.controls {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 5px;

  @media (min-width: $mobile-break) {
    display: inline-flex;
    vertical-align: top;
    flex-flow: row wrap;
    width: calc(#{$side-panel-width} - 10px);
  }

  &__module {
    width: calc(100% - 10px);
    height: 80px;
    margin-top: -2px;
    margin: 5px;
    border-radius: 1px;
    border: 2px solid lighten($sound-machine-color, 5);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    @media (min-width: $mobile-break) {
      margin: 5px;
    }
    &--large {
      height: fit-content;
      hr {
        width: 95%;
        border: 2px solid lighten($sound-machine-color, 5);
      }
    }
  }

  &__display,
  &__input {
    font-family: 'VT323', monospace;
    font-weight: 100;
    width: 100%;
    height: 16px;
    margin: 10px;
    padding: 5px 15px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3) inset;
    background-color: $button-inactive-color;
    color: $display-indicator-color;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
  &__input {
    appearance: none;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    width: 80px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-align: right;
  }
}
#file-upload {
  display: none;
}
